<!DOCTYPE html>
<html>
<head>
    <title>bollywood movies app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/logo-new.png" style="width: 100px; height: 50px;">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body> 

	<% include partials/header.ejs %>

	<div id="hero-image">
		<h1 id="hero-title"><%= title %></h1>
		
	</div>


 <div id="posters-wrapper" class="content-padding clearfix">
	 <%  for (var i = 0; i<movies.length; i++) { %>
	    <div class="poster">
           <a href="#">
	           <img src="/img/<%= movies[i].poster %>" class="img-responsive">

	        <div class="poster-info-overlay">
	 	       <h3><%= movies[i].title  %></h3>
	 	        <h4>View More <i class="fa fa-arrow-right"></i></h4>
	       </div>

	     </a>
  
    </div>

	 <% } %>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>